<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        .container {
            width: 980px;
            height: 400px;
            margin: 50px auto;
            text-align: center;
            background-color: orange;
        }

        body {
            background-color: lightblue;
        }


        table,
        th,
        td {
            border: 1px solid black;
        }

        table {
            width: 100%;
        }

        th {
            height: 50px;
            text-align: center;
        }

        .table-container {
            width: 600px;
            margin: 0 auto;
            padding-top: 50px;
            margin-top: 50px;
        }

        .btn-down {
            margin-top: 20px;

        }
   .btn-down a {
            text-decoration: none;
            background-color: blue;
            padding: 10px;
            border-radius: 20px;
            color: #fff;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="table-container">
            <table>
                <tr>
                    <th>User</th>
                    <th>Weekly Goals</th>
                    <th>Daily Goals</th>
                    <th>Verify Goals</th>
                    <th>Done Goals</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{user}}</td>
                    <td>{% for goal in weekly_goals%}
                        {%if goal.user.username == user.username%}
                        {{goal}}
                        {%endif%}
                        {%endfor%}
                    </td>
                    <td>{% for goal in daily_goals%}
                        {%if goal.user.username == user.username%}
                        {{goal}}
                        {%endif%}
                        {%endfor%}
                    </td>
                    <td>{% for goal in verify_goals%}
                        {%if goal.user.username == user.username%}
                        {{goal}}
                        {%endif%}
                        {%endfor%}
                    </td>
                    <td>{% for goal in done_goals%}
                        {%if goal.user.username == user.username%}
                        {{goal}}
                        {%endif%}
                        {%endfor%}
                    </td>



                    {% endfor %}
                </tr>

            </table>
  </div>

        <p class="btn-down"> <a href={% url 'gbolahanscrumy:add' %}>ADD A GOAL</a></p>
    </div>

</body>

</html>
