<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success Page</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        .container {
            width: 980px;
            height: 400px;
            margin: 50px auto;
            text-align: center;
            background-color: orange;
        }

        body {
            background-color: lightblue;
        }

        p {
            margin-top: 20px;
            padding-top: 100px;
            font-size: 30px;
            margin-bottom: 50px;

        }

        .btn-down {
            text-decoration: none;
            background-color: blue;
            padding: 10px;
            border-radius: 20px;
            color: #fff;

        }
    </style>

</head>

<body>
    <div class="container">
        <p>Your Account has been created successfully, <br> Login with your username and password</p>
        <a class="btn-down" href={% url 'gbolahanscrumy:login'%}>Login to your account</a>
    </div>


</body>
