<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Page</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        .container {
            width: 960px;
            height: 500px;
            margin: 50px auto;
            text-align: center;
            background-color: orange;
        }

        input[type=submit] {
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: blue;
            color: #fff;
            cursor: pointer;
        }

        input {
            padding: 5px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <section>
  {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            <h2>Create your account carefully </h2>
            <form method="POST">
             {% csrf_token %}
             <table>
                {{ form.as_table }}
                                                                                             [ R   <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Register" /></td>
                </tr>
             </table>
         </form>
        </section>
    </div>

</body>
